
.icon-right-outline:before { content: '\ea55'; } /* '' */
.icon-down-outline:before { content: '\ea53'; } /* '' */
.icon-block-outline:before { content: '\ea3d'; } /* '' */
.icon-plus-outline:before { content: '\e9d9'; } /* '' */
.icon-emo-thumbsup:before { content: '\e807'; } /* '' */
.icon-cancel-outline:before { content: '\e9d3'; } /* '' */
.icon-scissors-outline:before { content: '\eab7'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-emo-coffee:before { content: '\e80b'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-key:before { content: '\e8c1'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-user-1:before { content: '\e8cf'; } /* '' */
.icon-ok-circled:before { content: '\e82b'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-pencil-circled:before { content: '\e802'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-wrench:before { content: '\e800'; } /* '' */