<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">
<head  th:replace=" template :: header"></head>

<body>

<div id="container">

    <div th:replace="template :: up"></div>

    <table class="blueTable" th:each="question : ${allQuestions}">
        <td><a href="#" th:href="@{'/projects/quiz/' + ${question.id} + '/editQuestion'}">Edit</a> </td>
        <td><a href="#" th:href="@{'/projects/quiz/' + ${question.id} + '/deleteQuestion'}">Delete</a> </td>

            <thead>
                <td colspan="2" th:utext="'Q: ' +${question.question}"></td>
            </thead>
        <tbody>
            <tr>
                <td th:utext=" 'odpA: ' +${question.odpA} " ></td>
                <td th:utext=" 'odpB: ' +${question.odpB} " ></td>
            </tr>
            <tr>
                <td th:utext=" 'odpC: ' +${question.odpC} " ></td>
                <td th:utext=" 'odpD: ' +${question.odpD} " ></td>
            </tr>
        </tbody>
    </table>

    <div class="links">
      <a href="#">&laquo;</a>
      <a class="active" href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">&raquo;</a>
   </div>

    <div th:replace="template :: add"></div>
    <div th:replace="template :: all"></div>
    <div th:replace="template :: one"></div>

    <div th:replace="template :: links"></div>
    <div th:replace="template :: footer"></div>
</div>
</body>
</html>