<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">

<head  th:replace=" template :: header"></head>

<body onload="odliczanie();">

<div id="container">

    <div th:replace="template :: up"></div>

    <table class="blueTable">
        <thead>
        <tr>
            <form th:action="{/projects/quiz/deleteQuestion}" th:object="${question}" method="post">
                <input type="submit" value="delete" >
            </form>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:utext=" 'odpA: ' +${odpA} "></td>
            <td th:utext=" 'odpB: ' +${odpB} "></td>
        </tr>
        <tr>
            <td th:utext=" 'odpC: ' +${odpC} "></td>
            <td th:text=" 'odpD: ' +${odpD} "></td>
        </tr>
        </tbody>
        <tfoot>
            <td th:text="Do you really what to delete this question ?">

            </td>
        </tfoot>
    </table>
    <div th:replace="template :: add"></div>
    <div th:replace="template :: all"></div>
    <div th:replace="template :: one"></div>
    <div th:replace="template :: edit"></div>

    <div th:replace="template :: links"></div>
    <div th:replace="template :: footer"></div>
</div>

</body>
</html>