<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">

<head  th:replace=" template :: header"></head>

<body onload="odliczanie();">

<div id="container">

   <div th:replace="template :: up"></div>

   <!--<p th:text="${id}">. </p>-->
   <!--<p th:text="${question}">. </p>-->
   <!--<p th:text="${odpA}">. </p>-->
   <p th:text="'ID: ' + ${editQuestion.id}"></p>
   <p th:text="'Q: ' + ${editQuestion.question}"></p>
   <p th:text="'Category: ' + ${editQuestion.category}"></p>
      <form th:action="@{/projects/quiz/editQuestion}" th:object="${editQuestion}" method="post">

      <textarea th:field = "*{question}" rows = "5" cols = "60" > <p th:text="${editQuestion.question}"></p></textarea><br>

      <!--<input th:type="text" th:value = "${question}" rows = "5" cols = "60" >-->

      <input th:type="text" th:value = "${editQuestion.odpA}" th:field = "*{odpA}"   maxlength="255" size="33">
      <input th:type="text" th:value = "${editQuestion.odpB}" th:field = "*{odpB}" maxlength="255" size="33"><br>
      <input th:type="text" th:value = "${editQuestion.odpC}" th:field = "*{odpC}" maxlength="255" size="33">
      <input th:type="text" th:value = "${editQuestion.odpD}" th:field = "*{odpD}" maxlength="255" size="33"><br>

      <select th:field = "*{odpO}" >
         <option value="" disabled selected >Select Good Answer</option>
         <option value="a">a</option>
         <option value="b">b</option>
         <option value="c">c</option>
         <option value="d">d</option>
      </select><br>

      <select th:field = "*{category}" >
         <option value="programowanie">Programowanie</option>
         <option value="urzadzenia techniki komp">Urzadzenia techniki komp</option>
         <option value="systemy operacyjne i sieci">Systemy operacyjne i sieci</option>
         <option value="oprogramowanie biurowe">Oprogramowanie biurowe</option>
         <option value="multimedia i grafika">Multimedia i grafika</option>
         <option value="ogólne">Ogólne</option>

      </select><br>

      <select th:field = "*{year}">
         <option value="2000">2000</option>
         <option value="2001">2001</option>
         <option value="2002">2002</option>
         <option value="2003">2003</option>
         <option value="2004">2004</option>
         <option value="2005">2005</option>
         <option value="2006">2006</option>
         <option value="2007">2007</option>
         <option value="2008">2008</option>
         <option value="2009">2009</option>
         <option value="2010">2010</option>
         <option value="2011">2011</option>
         <option value="2012">2012</option>
         <option value="2013">2013</option>
         <option value="2014">2014</option>
         <option value="2015">2015</option>
         <option value="2016">2016</option>
         <option value="2017">2017</option>
         <option value="2018">2018</option>
         <option value="2019">2019</option>
      </select><br>
      <input type="hidden" th:field="*{id}">
      <input type="submit" value="Save">
   </form>

   <div th:replace="template :: all"></div>
   <div th:replace="template :: one"></div>

   <div th:replace="template :: links"></div>
   <div th:replace="template :: footer"></div>
   </div>
</body>

</html>