<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head  th:replace=" template :: header"></head>

<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
                Plain </a>
            <ul class="nav">
                <li><a th:href="@{/homepage}" href="home.html"> Home </a></li>
                <li><a th:href="@{/logout}" href="logout"> Logout </a></li>
            </ul>
        </div>
    </div>
    <h1 th:text="${title}">Title</h1>
    <div id="created" th:text="${#dates.format(timestamp)}">July 11,
        2012 2:17:16 PM CDT</div>
    <div>
        <p>Please select a question</p>
        <!--(type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).-->
    </div>
    <div th:text="${message}">Fake content</div>
    <div>
        <a href="javascript:history.back()">Go Back</a>
    </div>
</div>
</body>
</html>